[project]
	description = First Steps tutorial
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/salehsamara
[access "refs/for/refs/*"]
	read = group user/salehsamara
	push = group user/salehsamara
	label-Code-Review = -2..+2 group user/salehsamara
	label-Verified = -1..+1 group user/salehsamara
	rebase = group user/salehsamara
	removeReviewer = group user/salehsamara
	submit = group user/salehsamara
[access "refs/heads/*"]
	read = group user/salehsamara
	create = group user/salehsamara
	push = +force group user/salehsamara
	pushMerge = group user/salehsamara
[access "refs/tags/*"]
	push = +force group user/salehsamara
	pushTag = group user/salehsamara
	pushSignedTag = group user/salehsamara
